.form {
  text-align: right;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #b4c424;
  border: 1px solid #b4c424;
  color: white;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  background-color: #c9cc3f;
  border-color: #c9cc3f;
}
